h1{
    justify-content: center;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
.movie_div{
    justify-content: center;
    padding: 80px 0px 0px 80px;
    display: flex;
    flex-direction: column;
    float: left;
}
img{
    width: 223px;
}
p{
    justify-content: center;
    text-align: center;
}  